<div class="card col-12 bg-success mt-4 mb-3">
  <h2 class="card-title text-center text-white mt-2">
    {{ modalidad.nombre }}
  </h2>
</div>
<div class="card mt-4 mb-3 cardmodalidad">
  <div class="card-body ml-2 mr-2 row">
    <img class="col-md-3 mb-2" [src]="modalidad.url" />
    <table class="table table-dark col-md inline-table">
      <thead>
        <tr>
          <th class="text-center"
            *ngFor="let categoria of categorias">
            {{ categoria.nombre }}
          </th>
        </tr>
      </thead>
      <tbody>
        <th class="text-center" *ngFor="let categoria of categorias">
          <ul class="list-unstyled">
            <li *ngFor="let participa of participas">
              <p *ngIf="participa.categoria.nombre == categoria.nombre">
                {{ participa.perros.nombre }} <br/>Fecha participación:
                {{ participa.fecha | date:'dd/M/yyyy' }}
              </p>
            </li>
          </ul>
        </th>
      </tbody>
    </table>
  </div>

</div>
