<div class="card w-50 m-5">
  <div class="card-header bg-success text-white">Añadir perrete</div>
  <div class="card-block p-3">
    <form (ngSubmit)="addPerro()" #formPerro="ngForm">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nombre"
          [(ngModel)]="newPerro.nombre" required #nameModel="ngModel"
          [ngClass]="{
            'is-valid': nameModel.touched && nameModel.valid,
            'is-invalid': nameModel.touched && nameModel.invalid
          }"/>
          <div class="invalid-feedback" *ngIf="nameModel.invalid && nameModel.errors.required">
            El nombre es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">Raza</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="raza"
          [(ngModel)]="newPerro.raza" required
          #razaModel="ngModel"
          [ngClass]="{
            'is-valid': razaModel.touched && razaModel.valid,
            'is-invalid': razaModel.touched && razaModel.invalid
          }"/>
          <div
            class="invalid-feedback"
            *ngIf="razaModel.invalid && razaModel.errors.required"
          >
          La raza es obligatoria
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-sm-right">Categoria</label>
        <div class="col-sm-10">
            <select id="razas" name="razas" [(ngModel)]="newPerro.categoria">
              <option [ngValue]="1" >Grande</option>
              <option [ngValue]="2" >Mediano</option>
              <option [ngValue]="3" >Chico</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputImage" class="col-sm-2 col-form-label text-sm-right">
        Imagen</label>
          <div class="col-sm-10">
            <input type="url" name="imagen" class="form-control" accept=""
            [(ngModel)]="newPerro.url"
            required
            #imgModel="ngModel"
            [ngClass]="{
              'is-valid': imgModel.touched && imgModel.valid,
              'is-invalid': imgModel.touched && imgModel.invalid
            }"/>
            <div class="invalid-feedback">
              Debes seleccionar una imagen
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-sm-2">
          <img class="imginput mb-2" [src]="newPerro.url" />
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formPerro.invalid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
