<button class="btn mt-3 ml-3 bg-primary">
  <a class="nav-link text-white"
  [routerLink]="['/form']"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions]="{ exact: true }">Añadir mas Perretes</a>
</button>
<div class="row mt-2 ml-1">
  <perros-item class="row m-4" *ngFor="let perro of perros" [perro]="perro"
    (deleted)="deleteProduct(perro)">
  </perros-item>
</div>
