<div class="card center cardperro flex-inline col">
  <div>
    <h2 class="card-title mr-2 ml-3 mt-3">{{ perro.nombre }}</h2>
  </div>
  <div class="card-body"><img [src]="perro.url" /></div>
  <div class="mb-2">
    <p class="col-10">{{ perro.raza }}</p>
    <p class="col-10">{{ perro.categoria.nombre }}</p>
    <form (ngSubmit)="addCompetencia()" #formCompetencia="ngForm">
      Inscribir a:
      <select id="modalidades" name="modalidades" [(ngModel)]="newCompetencia.modalidad.id">
        <option [ngValue]="1">Freesbee</option>
        <option [ngValue]="2">Obstaculos</option>
        <option [ngValue]="3">Natacion</option>
        <option [ngValue]="4">Canicross</option>
      </select>
      <button type="submit" class="btn btn-primary ml-1" [disabled]="formCompetencia.invalid">
        Apuntar
      </button>
    </form>
    <button class="btn btn-small btn-outline-danger m-2" (click)="deletePerros()">
      Eliminar perro
    </button>
  </div>
</div>
