<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/modalidades']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }">Modalidades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/perros']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }">Perros</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
