<div class="jumbotron mt-4 bg-info text-white">
  <h1 class="display-4">Competiciones perros <img src="assets/dogpaw.png" alt="dow paw"></h1>
  <p class="lead">Bienvenido/a a mi página de perros de competición</p>
  <hr class="my-4" />
  <p class="lead">
    <a class="btn bg-dark btn-lg text-white"
      [routerLink]="['/modalidades']"
      role="button">Ver Modalidades</a>
  </p>
</div>
